<h1 mat-dialog-title>Add Prodcut from</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input matInput placeholder="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Categorie</mat-label>
      <mat-select [(value)]="selected" placeholder="categorie">
        <mat-option>None</mat-option>
        <mat-option value="Fruits">Fruits</mat-option>
        <mat-option value="Vegetables">Vegetables</mat-option>
        <mat-option value="Electronic">Electronic</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for=""><h1>Product Frechness</h1></label>
    <mat-radio-group aria-label="Select an option" class="example-radio-group">
      <mat-radio-button [value]="fresh" *ngFor="let fresh of freshnessList" class="example-radio-button">{{fresh}}</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" placeholder="price" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea matInput type="number" placeholder="comment"></textarea>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close >Close</button>
  <button style="margin-left:8px" mat-raised-button color="primary" >Save</button>

</div>

